In [83]:
import pandas as pd
import numpy as np
import gensim as gs
import string

from matplotlib import pyplot as plt
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer

%matplotlib inline

In [144]:
#https://raw.githubusercontent.com/justmarkham/DAT7/master/data/yelp.csv
data = pd.read_csv('yelp.csv')
reviews = data['text']
reviews_m = reviews.as_matrix()
print(reviews.shape)
print(reviews.head())
data.head(1)

(10000,)
0    My wife took me here on my birthday for breakf...
1    I have no idea why some people give bad review...
2    love the gyro plate. Rice is so good and I als...
3    Rosie, Dakota, and I LOVE Chaparral Dog Park!!...
4    General Manager Scott Petello is a good egg!!!...
Name: text, dtype: object

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0

In [43]:
test = pd.DataFrame(["hello, this is a + test !@#$$ string."])
test.head()

                                       0
0  hello, this is a + test !@#$$ string.

In [111]:
#remove punctuation

In [145]:
# #methodology
reviews.replace("[!@#$'%^;,:\n&*\r()-_+.{}]",' ', regex=True, inplace=True) #remove punct
reviews.replace('"',' ', regex=True, inplace=True) #remove punct
reviews = reviews.apply(lambda x: word_tokenize(x.lower())) #tokenize
reviews = reviews.apply(lambda x: [i for i in x if i not in stop]) #remove stopwords
reviews = reviews.apply(lambda x: [WordNetLemmatizer().lemmatize(i) for i in x]) #lemmatize

In [ ]:
#https://towardsdatascience.com/topic-modeling-and-latent-dirichlet-allocation-in-python-9bf156893c24
#https://www.analyticsvidhya.com/blog/2016/08/beginners-guide-to-topic-modeling-in-python/